.App {
  text-align: center;
}
form span {
  display: block;
}
.fileUploader {
  margin-left: auto;
    margin-right: auto;
}
.App-logo {
  height: 80px;
}
.myTab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.myTabLinks {
  background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Data-View {
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
